* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 20px;
  border: 2px solid skyblue;
  border-radius: 14px;
  background: linear-gradient(45deg, skyblue, magenta);
}
input {
  width: 320px;
  padding: 20px;
  margin: 0px;
  font-size: 1.4rem;
  background: linear-gradient(45deg, skyblue, magenta);
  outline: none;
  border: 2px solid skyblue;
  border-radius: 10px;
}
button {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3rem;
  background: linear-gradient(45deg, skyblue, magenta);
  border-top: 2px solid magenta;
  /* border-bottom: 2px solid white; */
}
button:hover {
  box-shadow: 0px 0px 13px magenta;
}
@media (max-width: 450px) {
  body {
    align-items: start;
    margin-top: 3rem;
  }
  .calculator {
    background: linear-gradient(45deg, skyblue, rgb(35, 17, 35));
  }
  button {
    background: linear-gradient(45deg, skyblue, rgb(35, 17, 35));
    border-top: 2px solid skyblue;
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
  input {
    background: linear-gradient(45deg, skyblue, rgb(35, 17, 35));
    width: 245px;
    padding: 20px;
  }
  button:hover {
    box-shadow: 0px 0px 13px skyblue;
  }
}
